@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<style>
     body {
        background-image: url("/Images/Background/92823533-beer-background-fresh-beer-on-wooden-table-.jpg");
        min-height: 100%;
        min-width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow-y: hidden;
        overflow-x: hidden;
    }
</style>
   