@page
@model BannedUser
@{
    ViewData["Title"] = "Banned user";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been banned!</p>
</header>
